* {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    background: black;
	font-family: helvetica;
}
.spread-children {
	text-align: justify;
	font-size: 0.1px;
}
header {
	margin-top:10px;
}
p {
	display:inline-block;
	color:darkorange;
	text-align: center;
	font-size:24px;
}
.spread-children:after {
	content: '';
	width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
	display: inline-block;
}
#container {
	position: relative;
	width: 1000px;
	height: 550px;
	display: block;
	margin: 20px auto 0 auto;
	border:1px solid green;
}
.box{
	position: absolute;
	background-color: transparent;
	width: 100px;
	height: 100px;
	border: 1px solid red;
	border-radius: 6px;
}